* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
    overflow: auto; 
}

.app-layout {
    display: grid;
    grid-template-columns: 250px 600px 300px;
    width: 1150px; 
    height: 750px; /* Altura inamovible */
    background: white;
    border: 3px solid #222;
    border-radius: 15px;
    overflow: hidden; 
}

playlist-manager, main-player, song-list {
    height: 100%;
    overflow-y: auto;
}